.attacking_p {
	animation: attackp 0.3s;
}
.attacking_e {
	animation: attacke 0.3s;
}

.dmg {
	animation: dmg 0.6s;
}

@keyframes attackp {
	0% {
		transform: translatex(0px);
	} 25% {
		transform: translatex(-40px);
	} 50% {
		transform: translatex(0px);
	} 75% {
		transform: translatex(40px);
	}  100% {
		transform: translatex(0px);
	}
}
@keyframes attacke {
	0% {
		transform: translatex(0px);
	} 25% {
		transform: translatex(40px);
	} 50% {
		transform: translatex(0px);
	} 75% {
		transform: translatex(-40px);
	}  100% {
		transform: translatex(0px);
	}
}

@keyframes dmg {
	0% {
		filter: contrast(100%) invert(0%) hue-rotate(0deg);
	} 50% {
		filter: contrast(100%) invert(0%) hue-rotate(0deg);
	} 75% {
		filter: contrast(200%) invert(100%) hue-rotate(180deg);
	} 100% {
		filter: contrast(100%) invert(0%) hue-rotate(360deg);
	}
}

.imgbox {
	margin: 10px;
}

entry {
	margin: 2px;
	border: 2px solid red;
}
button {
	margin: 2px;
	border: 2px solid red;
}
button > * {
	color: white;
}
entry > * {
	color: white;
}
box {
	background-color: black;
	color: white;
}
.botbut {
	margin-right: 5px;
}
.Map > label {
	color: white;
}
.fightbox > box > box > box > label, .fightbox > box > box > label, .fightbox > box > box > box > box > label, .fightbox > box > box > box > box > box > label {
	color: white;
}
.enemybox {
	margin: 10px;
	border: 2px solid red;
	border-radius: 7px;
	padding: 5px;
}
.playerbox {
	margin: 10px;
	border: 2px solid red;
	border-radius: 7px;
	padding: 5px;
}
.box3 {
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	border: 2px solid red;
	border-radius: 7px;
}
.box32 {
	min-width: 200px;
	border-left: 2px solid red;
	border-radius: 7px;
	padding-left: 5px;	
}
.option0, .option1, .option2, .option3, .option {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	border: 2px solid red;
	border-radius: 7px;
}
.selected > *, .selected {
	background: red;
	color: white;
}
progressbar progress{
  background-image: linear-gradient(90deg, lime, lime);
}
progressbar.mid trough progress {
  background-image: linear-gradient(90deg, orange, orange);
} 
progressbar.low trough progress { 
  background-image: linear-gradient(90deg, red, red);
}

