button {
	background-image: none;
	margin: 2px;
	background-color: blue;
}
.class-name {
	background-color: black;
	color: lime;
}
.entry {
	margin: 2px;
	background-image: none;
	background-color: red;
}
box {
	background-color: blue;
	color: red;
}
