.entry {
	margin: 2px;
	border: 2px solid @accent_bg_color;
}
button {
	margin: 2px;
	border: 2px solid @accent_bg_color;
}
box {
	background-color: @bg_color;
	color: @fg_color;
}
.botbut {
	margin-right: 5px;
}
.enter {
	color: lime;
}
